# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Environments
.env
.venv
env/
venv/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
